### 1. Conditional Basics
#### * Prompt the user for a day of the week, print out whether the day is Monday or not

In [13]:
curday = 'monday'

day = input('Enter day of the weeks')

if day == curday:
    print('its monday!')

Enter day of the weeksmonday
its monday!

#### * Prompt the user for a day of the week, print out whether the day is a weekday or a weekend

In [30]:
weekday = ['monday', 'tuesday', 'wednesday', 'thurday', 'friday']
weekend = ['saturday', 'sunday']


day = input('Enter day of the weeks')

if day in weekday:
    print('weekday')
else:
    print('weekend')

Enter day of the weekssaturday
weekend

#### * Calculate a weekly paycheck, accounting for overtime pay. Create variables and make up values for:
    * The number of hours worked in one week
    * The hourly rate
    * For calculating pay:
        * For working 40 hours or less, each hour is paid at the hourly rate
        * For working more than 40 hours
            * the first 40 hours are paid at the hourly rate
            * each hour after 40 is paid at time and a half (hourly rate * 1.5)

In [183]:
worked_hrs = 50
hourly_rate = 30

if worked_hrs <= 40:
    print(worked_hrs * hourly_rate)
else:
    print((worked_hrs - 40) * hourly_rate * 1.5 + (hourly_rate*40))

1650.0

#### 2. Loop Basics
#### * While
    * Create an integer variable i with a value of 5. Create a while loop that runs so long as i is less than or equal to 15. Each loop iteration, output the current value of i, then increment i by one.

In [46]:
i = 5

while i <= 15:
    
    print(i)

    i += 1

5
6
7
8
9
10
11
12
13
14
15

#### * Create a while loop that will count by 2's starting with 0 and ending at 100. Follow each number with a new line.

In [49]:
i = 0

while i <= 101:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

#### Create a while loop that starts at 2, and displays the number squared on each line while the number is less than 1,000,000. Output should equal:

In [185]:
i = 2

while i < 1_000_000:
    print (i)
    i = i ** 2

2
4
16
256
65536

#### Write a while loop that uses print to create the output shown below.

In [53]:
i = 100

while i >= 5:
    print(i)
    i -= 5

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

#### For Loops
#### * Write some code using a for loop that prompts the user for a number, then shows a multiplication table up through 10 for that number.

In [72]:
i = input('Enter a number')

for m in range(1,11):
    print( str(i) + ' x ' + str(m) + ' = ' + str(int(i)*int(m)) )
    
    #print(f'{your_num} x {m} = {your_num * i}')

Enter a number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### Create a for loop that uses print to create the output shown below.

In [110]:
for i in range(1,10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

#### * break and continue
    * Write a program that prompts the user for a positive integer. Next write a loop that prints out the numbers from the number the user entered down to 1.

In [187]:
i = int(input('Enter a number'))

while True:
    print(i)
    if i == 1: 
        print(i)
        print ('end of positive numbers')
        break
    i -= 1

Enter a number5
5
4
3
2
1
1
end of positive numbers

     * The input function can be used to prompt for input and use that input in your python code. Prompt the user to enter a positive number and write a loop that counts from 0 to that number. (Hints: note that the input function returns a string, so you'll need to convert this to a numeric type.)

In [102]:
i = int(input('Enter a number'))
count = 0

while count <= i:
    print(count)
    if count == i:
        print(i)
        print('reached goal!')
        break
    count += 1

Enter a number5
0
1
2
3
4
5
5
reached goal!

    * Prompt the user for an odd number between 1 and 50. Use a loop and a break statement to continue prompting the user if they enter invalid input. (Hint: use the isdigit method on strings to determine this). Use a loop and the continue statement to output all the odd numbers between 1 and 50, except for the number the user entered.

In [144]:
i = int(input('Enter an odd number between 1 and 50'))

while i % 2 == 0:
    i = int(input('Enter an odd number between 1 and 50'))
    continue
for num in range(1,51):
    if num == i:
        print('Yikes! Skipping number: ', i)
        continue
    elif num % 2 != 0:
        print('Here is an odd number: ', num)

Enter an odd number between 1 and 505
Here is an odd number:  1
Here is an odd number:  3
Yikes! Skipping number:  5
Here is an odd number:  7
Here is an odd number:  9
Here is an odd number:  11
Here is an odd number:  13
Here is an odd number:  15
Here is an odd number:  17
Here is an odd number:  19
Here is an odd number:  21
Here is an odd number:  23
Here is an odd number:  25
Here is an odd number:  27
Here is an odd number:  29
Here is an odd number:  31
Here is an odd number:  33
Here is an odd number:  35
Here is an odd number:  37
Here is an odd number:  39
Here is an odd number:  41
Here is an odd number:  43
Here is an odd number:  45
Here is an odd number:  47
Here is an odd number:  49

In [193]:
i = int(input('Enter an odd number between 1 and 50'))

while i % 2 == 0:
    i = int(input('Enter an odd number between 1 and 50'))
    continue
for num in range(1,51):
    if num == i:
        print('Yikes! Skipping number: ', i)
    elif num % 2 != 0:
        print('Here is an odd number: ', num)

Enter an odd number between 1 and 505
Here is an odd number:  1
Here is an odd number:  3
Yikes! Skipping number:  5
Here is an odd number:  7
Here is an odd number:  9
Here is an odd number:  11
Here is an odd number:  13
Here is an odd number:  15
Here is an odd number:  17
Here is an odd number:  19
Here is an odd number:  21
Here is an odd number:  23
Here is an odd number:  25
Here is an odd number:  27
Here is an odd number:  29
Here is an odd number:  31
Here is an odd number:  33
Here is an odd number:  35
Here is an odd number:  37
Here is an odd number:  39
Here is an odd number:  41
Here is an odd number:  43
Here is an odd number:  45
Here is an odd number:  47
Here is an odd number:  49

1. Fizzbuzz One of the most common interview questions for entry-level programmers is the FizzBuzz test. Developed by Imran Ghory, the test is designed to test basic looping and conditional logic skills.
    * Write a program that prints the numbers from 1 to 100.
    * For multiples of three print "Fizz" instead of the number
    * For the multiples of five print "Buzz".
    * For numbers which are multiples of both three and five print "FizzBuzz".

In [148]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print('FizzBuzz')    
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Buzz')
    print(num)

1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
FizzBuzz
15
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
FizzBuzz
30
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
FizzBuzz
45
46
47
Fizz
48
49
Buzz
50
Fizz
51
52
53
Fizz
54
Buzz
55
56
Fizz
57
58
59
FizzBuzz
60
61
62
Fizz
63
64
Buzz
65
Fizz
66
67
68
Fizz
69
Buzz
70
71
Fizz
72
73
74
FizzBuzz
75
76
77
Fizz
78
79
Buzz
80
Fizz
81
82
83
Fizz
84
Buzz
85
86
Fizz
87
88
89
FizzBuzz
90
91
92
Fizz
93
94
Buzz
95
Fizz
96
97
98
Fizz
99
Buzz
100

#### Display a table of powers.
* Prompt the user to enter an integer
* Display a table of squares and cubes from 1 to the value entered
* Ask if the user wants to continue
* Assume that the user will enter valid data
* Only continue if the user agrees to

In [153]:
i = int(input('What number would you like to go up to?'))

print('Here is your table!')
print('number', 'squared', 'cubed')
    
for num in range(1,i+1):


    print(num, num*num, num*num*num)

What number would you like to go up to?5
Here is your table!
number squared cubed
1 1 1
2 4 8
3 9 27
4 16 64
5 25 125

#### Convert given number grades into letter grades.
* Prompt the user for a numerical grade from 0 to 100
* Display the corresponding letter grade
* Prompt the user to continue
* Assume that the user will enter valid integers for the grades
* The application should only continue if the user agrees to
* Grade Ranges:
    * A : 100 - 88
    * B : 87 - 80
    * C : 79 - 67
    * D : 66 - 60
    * F : 59 - 0

In [161]:
i = int(input('enter your grade'))

if i < 60:
    print('F')
elif i < 67:
    print('D')
elif i < 80:
    print('C')
elif i < 88:
    print('B')
else:
    print('A')
print(i)

enter your grade87
B
87

#### Create a list of dictionaries where each dictionary represents a book that you have read. Each dictionary in the list should have the keys title, author, and genre. Loop through the list and print out information about each book.
* Prompt the user to enter a genre, then loop through your books list and print out the titles of all the books in that genre.

In [162]:
books = [
    {"title": "Book 1", "author": "Author 1", "genre": "Fiction"},
    {"title": "Book 2", "author": "Author 2", "genre": "Fantasy"},
    {"title": "Book 3", "author": "Author 3", "genre": "Mystery"},
    {"title": "Book 4", "author": "Author 4", "genre": "Fiction"},
]
for book in books:
    print("Title:", book["title"])
    print("Author:", book["author"])
    print("Genre:", book["genre"])
    print()

Title: Book 1
Author: Author 1
Genre: Fiction

Title: Book 2
Author: Author 2
Genre: Fantasy

Title: Book 3
Author: Author 3
Genre: Mystery

Title: Book 4
Author: Author 4
Genre: Fiction

Prompt the user to enter a genre, then loop through your books list and print out the titles of all the books in that genre.

In [171]:
user_genre = input("Enter a genre: ")

print("Books in the", user_genre, "genre:")
for mb in books:
    if mb["genre"] == user_genre:
        print(mb["title"])

Enter a genre: Fiction
Books in the Fiction genre:
Book 1
Book 4

For your Power of Tables exercise, research python's format string specifiers to align the table

In [180]:
i = int(input('What number would you like to go up to? '))
print()
print('{:<6}| {:<8}| {:<6}'.format('number', 'squared', 'cubed'))
print('-' * 28)

for num in range(1, i + 1):
    print('{:<6}| {:<8}| {:<6}'.format(num, num * num, num * num * num))

What number would you like to go up to? 5

number| squared | cubed
----------------------------
1     | 1       | 1
2     | 4       | 8
3     | 9       | 27
4     | 16      | 64
5     | 25      | 125

A+: 98-100

A: 93-97

A-: 90-92

B+: 88-89

B: 83-87

B-: 80-82

C+: 78-79

C: 73-77

C-: 70-72

D+: 68-69

D: 63-67

D-: 60-62

F: 1-59

In [ ]:
i = int(input('enter your grade'))

if i < 60:
    print('F')
elif i < 67:
    print('D')
elif i < 80:
    print('C')
elif i < 88:
    print('B')
else:
    print('A')
print(i)