Identify the data type of the following values:

In [145]:
type(99.9),

type("False"),

type(False),

type('0'),

type(0),

type(True),

type('True'),

type([{}]),

type({'a': []})

dict

In [4]:
type(99.9)

float

In [10]:
type("False")

str

In [9]:
type(False)

bool

In [11]:
type('0')

str

In [12]:
type(0)

int

In [13]:
type(True)

bool

In [14]:
type('True')

str

In [15]:
type([{}])

list

In [16]:
type({'a': []})

dict

### 2 What data type would best represent the following?

#### A term or phrase typed into a search box
string or str

#### Whether or not a user is logged in
boolean or bool

#### A discount amount to apply to a user's shopping cart
float

#### Whether or not a coupon code is valid
boolean or bool

#### An email address typed into a registration form
string or str

#### The price of a product
integer / int or float

#### The email addresses collected from a registration form
string or list

#### Information about applicants to Codeup's data science program
Dictionary or dict

### 3 For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.

In [17]:
'1' + 2
#error cant add to a string, only multiply

TypeError: can only concatenate str (not "int") to str

In [19]:
6 % 4
#2 the remainder

2

In [20]:
type(6 % 4)
#int because 2 would be a whole number

int

In [23]:
type(type(6 % 4))
#string because 'int' would be the result of type(6 % 4)
#was wrong, python recognized key int as a type

type

In [24]:
'3 + 4 is ' + 3 + 4
#error, cant add numbers to a string

TypeError: can only concatenate str (not "int") to str

In [25]:
0 < 0
#false 0 is not less than 0

False

In [26]:
'False' == False
#false a string is not equal to False

False

In [27]:
True == 'True'
#false True is not equal to a string

False

In [28]:
5 >= -5
#true 5 is greater or equal to -5

True

In [30]:
True or "42"
#True because True IS True even if '42' is NOT True because of OR

True

In [31]:
6 % 5
#1 remainder

1

In [32]:
5 < 4 and 1 == 1
#False because 5 is not less than 4  AND 1 IS equal to 1

False

In [35]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'
#False, the equal checks for capitalization

False

In [38]:
4 >= 0 and 1 !== '1'
#True, 4 IS greater or equal to 0 AND 1 is not equal to '1'
#Wrong, its error.

SyntaxError: invalid syntax (3280197742.py, line 1)

In [41]:
6 % 3 == 0
#True 6/3=2 and 0 remainder IS equal to 0

True

In [42]:
5 % 2 != 0
#true, 5/2=2 remainder 1 IS NOT equal to 0

True

In [44]:
[1] + 2
#Error, can not add a number to a list

TypeError: can only concatenate list (not "int") to list

In [46]:
[1] + [2]
# [1,2]

[1, 2]

In [48]:
[1] * 2
#[1,1]

[1, 1]

In [49]:
[1] * [2]
#[1,1]

TypeError: can't multiply sequence by non-int of type 'list'

In [50]:
[] + [] == []
#true

True

In [52]:
{} + {}
#who knows!

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [54]:
type(int)
#same as type(type(6 % 4)), type

type

#### 4 Describe the following scenarios. You will need to create and assign variables and use operators.

#### 5 You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day
If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [79]:
rent_list = {'The Little Mermaid': 3, 'days Brother Bear': 5, 'days Hercules': 1}
print(rent_list)

{'The Little Mermaid': 3, 'days Brother Bear': 5, 'days Hercules': 1}

In [85]:
sum( rent_list.values() ) * 3

27

#### 6 Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

0) Google: 400 dollars
0) Amazon: 380 dollars
0) Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [75]:
pay_rate = {'Google': 400, 'Amazon': 380, 'Facebook': 350}
print(pay_rate)

{'Google': 400, 'Amazon': 380, 'Facebook': 350}

In [86]:
(pay_rate['Google']*6) + (pay_rate['Amazon']* 4) + (pay_rate['Facebook']*10)

7420

#### 7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [90]:
student_info = {'name': 'John', 'period one': 'Algebra', 'period two': '', 'period three': 'Psychology', 'period four': ''}
class_info = {'name': 'Chemestry', 'period': 'period two'}

print(student_info)
print(student_info)

{'name': 'John', 'period one': 'Algebra', 'period two': '', 'period three': 'Psychology', 'period four': ''}
{'name': 'John', 'period one': 'Algebra', 'period two': '', 'period three': 'Psychology', 'period four': ''}

In [91]:
class_info['name'] != student_info[class_info['period']]

True

#### 8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [94]:
customer_order = {'items': 2, 'membership': 'standard'}
coupon_info = {'Valid': True, 'min_qty': 2}

In [148]:
( customer_order['items'] >= coupon_info['min_qty'] or customer_order['membership'] == 'premium' )  and coupon_info['Valid']

True

#### 9. Use the following code to follow the instructions below:

In [135]:
username = 'codeup'
password = 'notastrongpassword'

The password must be at least 5 characters

The username must be no more than 20 characters

The password must not be the same as the username

Bonus Neither the username or password can start or end with whitespace

In [149]:
short_pass = len(password) > 5
long_pass = len(password) <= 20
not_same = password != username
short_pass, long_pass, not_same

(True, True, True)

In [141]:
username = 'codeup'
password = 'notastrongpassword'

username_last = len(username) - 1
password_last = len(password) - 1
username[0] != ' ' and username[username_last] != ' ' and password[0] != ' ' and password_last != ' '

False